@model Studentescu.ViewModels.PostViewModel

<div class="post-card">
    <div class="post-header flex flex-row">
        <img width="50" height="50" alt="Profile Picture" src="@(Model.Post.User.ProfilePictureUrl ?? "/images/default-avatar.jpg")"/>
        <p>@Model.Post.User.UserName</p>
    </div>
    <div class="post-content" >
        @if (@Model.Post.ContentType == "image")
        {
            <img alt="Post Content" src="@Model.Post.Content" />
        }else if (@Model.Post.ContentType == "video")
        {
            <video controls >
                <source src="@Model.Post.Content" type="video/mp4"/>
                Your browser do not support video format
            </video>
        }else if (@Model.Post.ContentType == "text")
        {
            <p>@Model.Post.Content</p>
        }
    </div>
    <div class="post-footer">
        <p><span id="like-counter-@Model.Post.Id">@Model.Post.Likes.Count</span> likes</p>
        <button
            id="like-btn-@Model.Post.Id"
            class="like-btn"
            data-post-id="@Model.Post.Id"
            data-is-liked="@Model.IsLiked">
            @if (@Model.IsLiked)
            {
                <span>Unlike</span>
            }
            else
            {
                <span>Like</span>
            }
        </button>
        <button
            id="comment-btn-@Model.Post.Id"
            class="comment-btn"
            data-post-id="@Model.Post.Id"
            data-is-open="false">
            Show Comments
        </button> 
        @if (Model.IsMyPost) 
        {
            <a href="/Post/Edit?postId=@Model.Post.Id">Edit Post</a>
            <form method="post" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Post.Id" onsubmit="return confirm('Are you sure you want to delete this post?');">
                <button type="submit" class="btn btn-danger">
                    Delete Post
                </button>
            </form>
        }
    </div>
   
</div>
<script>
    
</script>
