@model Studentescu.ViewModels.PostViewModel

<div>
    <div class="post-header flex flex-row">
        <img width="50" height="50" alt="Profile Picture" src="@(Model.Post.User.ProfilePictureUrl ?? "/images/default-avatar.jpg")"/>
        <p>@Model.Post.User.UserName</p>
    </div>
    <div class="post-content">
        @if (@Model.Post.ContentType == "image")
        {
            <img alt="Post Content" src="@Model.Post.Content" />
        }else if (@Model.Post.ContentType == "video")
        {
            <video controls >
                <source src="@Model.Post.Content" type="video/mp4"/>
                Your browser do not support video format
            </video>
        }else if (@Model.Post.ContentType == "text")
        {
            <p>@Model.Post.Content</p>
        }
    </div>
    <div class="post-footer">
        @if (@Model.IsLiked)
        {
            <button>Dislike</button>
        }
        else
        {
            <form asp-action="Like" asp-controller="Post" method="post">
                <input type="hidden" name="postId" value="@Model.Post.Id" />
                <button type="submit" class="btn btn-primary">
                    Like
                </button>
            </form>
        }
        <button>Comment</button>
        @if (@Model.IsSaved)
        {
            <button>Unsave</button>
        }
        else
        {
            <button>Save</button>
        }
    </div>
</div>