@model Studentescu.ViewModels.CompleteProfileViewModel

<h2>Complete Your Profile</h2>

<form method="post" asp-controller="Profile" asp-action="CompleteProfile">
    <div class="form-group">
        <label for="@Model.FirstName">First Name</label>
        <input type="text" asp-for="@Model.FirstName" class="form-control"/>
        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="@Model.LastName">Last Name</label>
        <input type="text" asp-for="@Model.LastName" class="form-control"/>
        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
                <textarea asp-for="@Model.Biography"
                          class="form-control"
                          placeholder="Please enter your phone number."
                          rows="6"></textarea>
        <label asp-for="@Model.Biography"
               class=""></label>
        <span
            asp-validation-for="@Model.Biography"
            class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <div class="form-check form-switch">
            <input
                type="checkbox"
                id="isProfilePrivateSwitch"
                asp-for="@Model.Public"
                role="switch"
                class="form-check-input"
                aria-label="Toggle profile privacy"/>
            <label
                for="isProfilePrivateSwitch"
                class="form-check-label">
                Public
            </label>
        </div>
        <span
            asp-validation-for="@Model.Public"
            class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Complete Profile</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
