@model TModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    
    <h2>Find a group:</h2>
    <select>
        <option>None</option>
        <option>Travel</option>
        <option>Fashion</option>
        <option>Gastronomy</option>
        <option>Health Care</option>
        <option>Games</option>
        <option>Study</option>
    </select>
    <select>
        <option>All</option>
        <option>Joined</option>
        <option>Not Joined</option>
    </select>
    @foreach (var group in @Model.Group)
    {
        <img src="@group.Image" alt="Group Profile Picture"/>
        <p>@group.Name</p>
        @if (@Model.Group.Members.contains(@Model.User))
        {
            <button>Join</button>
        }
        else
        {
            <button>Leave</button>
        }
        
    }
    
    
</div>