@model List<Studentescu.ViewModels.GroupIndexViewModel>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    
    <h2>Find a group:</h2>
    <select>
        <option>None</option>
        <option>Travel</option>
        <option>Fashion</option>
        <option>Gastronomy</option>
        <option>Health Care</option>
        <option>Games</option>
        <option>Study</option>
    </select>
    <select>
        <option>All</option>
        <option>Joined</option>
        <option>Not Joined</option>
    </select>
    <a href="/UserGroup/Create">Create a group</a>
    @foreach (var group in @Model)
    {
        <div onclick="window.location.href='/UserGroup/Show/@group.Group.Id';" class="border-2 flex flex-row justify-between">
            <img src="@group.Group.GroupImageUrl" width="50" height="50" alt="Group Profile Picture"/>
            <h4>@group.Group.Name</h4>
            <p>@group.Group.Description</p>
            <p>@group.Group.Category</p>
            @if(@group.Group.Active)
            {
                @if (group.IsAdmin)
                {
                    <form asp-action="Delete" asp-controller="UserGroup" method="post">
                        <input type="hidden" name="groupId" value="@group.Group.Id" />
                        <button type="submit">Delete Group</button>
                    </form> 
                }
                @if (!group.IsJoined)
                {
                    if (group.Status == "None")
                    {
                        <form asp-action="JoinRequest" asp-controller="UserGroup" method="post">
                            <input type="hidden" name="groupId" value="@group.Group.Id" />
                            <button type="submit">Join Group</button>
                        </form> 
                    }else if (group.Status == "Rejected")
                    {
                        <p>Unaccepted to join</p>
                    }else if (group.Status == "Pending")
                    {
                        <form asp-action="CancelJoinRequest" asp-controller="UserGroup" method="post">
                            <input type="hidden" name="requestId" value="@group.RequestId" />
                            <button type="submit">Cancel join</button>
                        </form> 
                    }
                    
                    
                }
                else
                {
                    <form asp-action="Leave" asp-controller="UserGroup" method="post">
                        <input type="hidden" name="groupId" value="@group.Group.Id" />
                        <button type="submit">Leave Group</button>
                    </form>
                }
            }
        </div>
        
    }
    
    
</div>