@model Studentescu.ViewModels.GroupFeedViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <div>
        <img src="@Model.Group.GroupImageUrl" width="50" height="50" alt="Group profile picture"/>
        <h3>@Model.Group.Name</h3>
    </div>
    <h3>@Model.Group.Members.Count() members</h3>
    @if (@Model.IsJoined)
    {
        <button>Leave</button>
    }
    else
    {
        <button>Join</button>
    }
    @if (@Model.IsJoined)
    {
        <a href="/Post/Create/@Model.Group.Id">Create New Post</a>
    }
    
    @foreach (var post in @Model.Posts)
    {
        @Html.Partial("_PostCardPartial", post)
    }
    
</div>