@model Studentescu.ViewModels.UsersEditViewModel



<form asp-controller="Users" asp-action="Edit" method="post"
      asp-route-id="@Model.User.Id">

    <i class="bi bi-person"></i>
    <label asp-for="User.UserName">Nume utilizator</label>
    <br/>
    <input asp-for="User.UserName" class="form-control"/>
    <br/>

    <i class="bi bi-envelope"></i>
    <label asp-for="User.Email">Email utilizator</label>
    <br/>
    <input asp-for="User.Email" class="form-control"/>
    <br/>

    <i class="bi bi-phone"></i>
    <label asp-for="User.PhoneNumber">Numar telefon</label>
    <br/>
    <input asp-for="User.PhoneNumber" class="form-control"/>
    <br/>

    <i class="bi bi-person"></i>
    <label asp-for="User.FirstName">Nume</label>
    <br/>
    <input asp-for="User.FirstName" class="form-control"/>
    <br/>

    <i class="bi bi-person"></i>
    <label asp-for="User.LastName">Prenume utilizator</label>
    <br/>
    <input asp-for="User.LastName" class="form-control"/>
    <br/>

    <i class="bi bi-card-list"></i>
    <label>Selectati rolul</label>
    <br/>


    <select name="newRole" class="form-control">
        <option selected>Selectati rolul</option>

        @foreach (var role in Model.AllRoles)
        {
            @if (Model.UserRole == role.Value)
            {
                <option selected="selected"
                        value="@role.Value">@role.Text</option>
            }
            else
            {
                <option value="@role.Value">@role.Text</option>
            }
        }
    </select>

    <button type="submit" class="btn btn-sm btn-success">Editare
        user
    </button>

</form>